.DivTaskItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  border-radius: 10px;
  background-color: rgb(46 41 41 / 55%);
  color: aliceblue;
  font-size: large;
  padding: 12px;
}

.TaskItemCheckboxText {
  display: flex;
  column-gap: 8px;
}

.TaskItemActions {
  display: flex;
  column-gap: 12px;
}

.TaskItemCheckboxText input {
  background-color: #d42f2f !important;
  width: 22px;
}
