.HeaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  border-bottom: 1px solid #999999;
}

.Title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ExitButton {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ExitButton button {
  background-color: transparent;
  border: none;
  padding: 12px;
  border-radius: 4px;

  color: rgb(38, 38, 38);
  font-weight: 700;
}

.ExitButton button:hover {
  background-color:#005552;
  color: aliceblue;
}
